<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="css/main.css" />
<!--<style>
body {
  background-color: #cccccc;
}
li {
   display: inline;
   padding : 0;
   margin : 0 0 0 12px;
}
ul {
        width:100%;
        height:40px;
        text-align:center;
}
</style>-->
</head>
<body>
 <h1 align="center">Welcome to {{.Homepage}}</h1>
      <div align="center">
              <button class="button2"><a href="/insert">Add Employee</a></button>
              <button class="button2"><a href="/update">Update Employee Info</a></button>
              <button class="button2"><a href="/getEmps">List All Employees</a></button>
              <button class="button2"><a href="/search">Search Employees</a></button>
              <button class="button2"><a href="/delete">Delete Employee</a></button>
      </div>   
            

</body>
</html>
